[core]
    editor = nvim
    #pager = delta

[user]
    name = Sisir Ghimire Chettri
	email = contact@sisir.net

[github]
    user = tuxsisir

[alias]
    s = status
    di = diff
    df = diff --staged

[delta]
    line-numbers = true

[pull]
    ff = false
[init]
    defaultBranch = main
[local]
	name = Sisir Ghimire Chettri
